header h1
{
    background-color: darkgray;
    color : white;    
}
header h4
{
   border-style:solid;
   margin: 10px;
}
footer 
{
    position:relative;
    color:red;
    top: 500px;
}


h2
{
    left:40%;
    text-align:center;
    height: 100px;

}

